App_WebReferences/DSPortalsService/DSPortals.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://agapeconnect.me/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://agapeconnect.me/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://agapeconnect.me/">
      <s:element name="GetPortalsForUserJson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ssoguid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPortalsForUserJsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPortalsForUserJsonResult" type="tns:ArrayOfDataserverPortal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDataserverPortal">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DataserverPortal" nillable="true" type="tns:DataserverPortal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DataserverPortal">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="InstanceUri" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InstanceName" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPortalsForUserJsonSoapIn">
    <wsdl:part name="parameters" element="tns:GetPortalsForUserJson" />
  </wsdl:message>
  <wsdl:message name="GetPortalsForUserJsonSoapOut">
    <wsdl:part name="parameters" element="tns:GetPortalsForUserJsonResponse" />
  </wsdl:message>
  <wsdl:portType name="DSPortalsSoap">
    <wsdl:operation name="GetPortalsForUserJson">
      <wsdl:input message="tns:GetPortalsForUserJsonSoapIn" />
      <wsdl:output message="tns:GetPortalsForUserJsonSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DSPortalsSoap" type="tns:DSPortalsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPortalsForUserJson">
      <soap:operation soapAction="http://agapeconnect.me/GetPortalsForUserJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DSPortalsSoap12" type="tns:DSPortalsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPortalsForUserJson">
      <soap12:operation soapAction="http://agapeconnect.me/GetPortalsForUserJson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DSPortals">
    <wsdl:port name="DSPortalsSoap" binding="tns:DSPortalsSoap">
      <soap:address location="https://agapeconnect.me/DSPortalUsers/DSPortals.asmx" />
    </wsdl:port>
    <wsdl:port name="DSPortalsSoap12" binding="tns:DSPortalsSoap12">
      <soap12:address location="https://agapeconnect.me/DSPortalUsers/DSPortals.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>