App_WebReferences/theKeyProxyTicket/PGTCallback.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RetrievePGTCallback">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PGTIOU" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrievePGTCallbackResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrievePGTCallbackResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetrievePGTCallbackSoapIn">
    <wsdl:part name="parameters" element="tns:RetrievePGTCallback" />
  </wsdl:message>
  <wsdl:message name="RetrievePGTCallbackSoapOut">
    <wsdl:part name="parameters" element="tns:RetrievePGTCallbackResponse" />
  </wsdl:message>
  <wsdl:message name="RetrievePGTCallbackHttpGetIn">
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="PGTIOU" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrievePGTCallbackHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RetrievePGTCallbackHttpPostIn">
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="PGTIOU" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrievePGTCallbackHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="PGTCallBackSoap">
    <wsdl:operation name="RetrievePGTCallback">
      <wsdl:input message="tns:RetrievePGTCallbackSoapIn" />
      <wsdl:output message="tns:RetrievePGTCallbackSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PGTCallBackHttpGet">
    <wsdl:operation name="RetrievePGTCallback">
      <wsdl:input message="tns:RetrievePGTCallbackHttpGetIn" />
      <wsdl:output message="tns:RetrievePGTCallbackHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PGTCallBackHttpPost">
    <wsdl:operation name="RetrievePGTCallback">
      <wsdl:input message="tns:RetrievePGTCallbackHttpPostIn" />
      <wsdl:output message="tns:RetrievePGTCallbackHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PGTCallBackSoap" type="tns:PGTCallBackSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrievePGTCallback">
      <soap:operation soapAction="http://tempuri.org/RetrievePGTCallback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PGTCallBackSoap12" type="tns:PGTCallBackSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrievePGTCallback">
      <soap12:operation soapAction="http://tempuri.org/RetrievePGTCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PGTCallBackHttpGet" type="tns:PGTCallBackHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="RetrievePGTCallback">
      <http:operation location="/RetrievePGTCallback" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PGTCallBackHttpPost" type="tns:PGTCallBackHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="RetrievePGTCallback">
      <http:operation location="/RetrievePGTCallback" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PGTCallBack">
    <wsdl:port name="PGTCallBackSoap" binding="tns:PGTCallBackSoap">
      <soap:address location="http://www.agape.org.uk/DesktopModules/CasAuth/PGTCallback.asmx" />
    </wsdl:port>
    <wsdl:port name="PGTCallBackSoap12" binding="tns:PGTCallBackSoap12">
      <soap12:address location="http://www.agape.org.uk/DesktopModules/CasAuth/PGTCallback.asmx" />
    </wsdl:port>
    <wsdl:port name="PGTCallBackHttpGet" binding="tns:PGTCallBackHttpGet">
      <http:address location="http://www.agape.org.uk/DesktopModules/CasAuth/PGTCallback.asmx" />
    </wsdl:port>
    <wsdl:port name="PGTCallBackHttpPost" binding="tns:PGTCallBackHttpPost">
      <http:address location="http://www.agape.org.uk/DesktopModules/CasAuth/PGTCallback.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>